@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {
    --primary-color:  #ed143d;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding:0 ;

}
body{
    overflow-x: hidden;
}

.content{
    display:block;
    margin-top: inherit;
}

.navbar{
    position: relative;
    padding: 90px 15px 80px 38px;
    min-width: 100%;
    height: 20%;
}

.logo{
    height: 100%;
    display:grid;
    grid-template-columns: 30%  5% auto auto auto auto 15% 1.5%;
    grid-template-rows: 1fr;
    align-items: center;
}

.logo img{
    width: 70%;
}

.logo .link a{
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.02em;
    font-family:'Futura', sans-serif;
    width: 40%;
    justify-content: space-between;

}

.logo .link:hover{
    border-bottom: 1px solid var(--dark-color);
}
.link{
    justify-self: center;
}

.btn{
    border:1px solid black;
    height: 100%;
    text-align:center ;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius:10px ;
    text-decoration: none;
    font-weight: 900;
    color: var(--dark-color);
    font-size:16px;
    font-family:'Futura', sans-serif;
    transition: .5s;
    letter-spacing: 0.02em;
}

.btn:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.navbar-a{
    position: relative;
    top:60px;
    left:40px;
    height: 50px;
    display:none;
}
.logo-a{
    height: 100%;
    display: grid;
    grid-template-columns: auto 17% 15%;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 20px;
}

.logo-a img{
    width:35%;
}
.logo-a a{
    border:2px solid var(--dark-color);
    border-radius:10px ;
    width: 90%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:var(--dark-color);
    font-size:15px;
    font-family:'F', sans-serif;
    font-weight: bold;
}
.logo-a div{
    width:100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo-a div img{
    width: 40%;
    cursor:pointer;
}
.logo-a a:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.navbar-b{
    position: relative;
    top:40px;
    left:60px;
    width: 80%;
    display:none;
}
.logo-b{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo-b #menu-b{
    cursor: pointer;
    width: 15%;
}
.logo-b img{
    width: 45%;
}

.home{
    position: relative;

    display: grid;
    background: #ffffff;
    height: 100vh;
    /*color: black;*/
    min-height: 100px;
    font-family: "Ubento",sans-serif;
    /*font-size: 40px;*/
    /*position: relative;*/
    top:26px;
    padding-left:40px;
    padding-right: 40px;
    margin-bottom: 15%;
    /*display: grid;*/
    /*grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));*/
    /*grid-gap: 5px;*/
}

.home .max-width{
    margin: auto 0 auto 80px;
}

.home .home-content .text-1{
    display: block;
    font-size: 80px;
    line-height: 80px;
    margin-top: 10px;
    margin-bottom: 37px;
    margin-right: 300px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Futura';
    font-weight: 700;
    /*margin-bottom: 37px;*/
}
.home .home-content .text-1 span{
    color: #ed143d;
    /*font-weight:  500;*/
}
.home .home-content .text-1 .singleLine {
    color: #070909;
}

.btnn{
    display: inline-flex;
    height: 68px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background-color: #ed143d;
    border-radius: 9px;
    padding: 0 63px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btnn:hover{
    cursor: pointer;
    background-color: black;
}
/*3*/

.section-2{
    /*max-width: 1300px;*/
    text-align: center;
    margin: 0 auto;
    margin-top: auto;
    /*padding-left: 40px;*/
    /*padding-right: 40px;*/
}
.section-2 h2{
    font-size: 70px;
}

h2{
    position: relative;
    text-align: center;
    display: block;
    font-size: 80px;
    line-height: 1.09em;
    margin: 0 auto;
    font-family: 'Futura',sans-serif;
    font-weight: 700;
    letter-spacing: -0.025em;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;

}


.btn-section2{
    display: inline-flex;
    height: 68px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;

    justify-content: center;
    align-items: center;
    background-color: #ed143d;
    border-radius: 9px;
    padding: 0 63px;
    font-weight: 800;
}

.btn-section2:hover{
    max-width: 1300px;
    cursor: pointer;
    background-color: black;
}
/*footer style*/
footer{
    padding-top: 150px;

}
footer p span{
    display: inline-block;
}
footer p{
    display: inline-block;

    font-size: 20px;
    font-weight: 900;
    color: black;
}

img{
    display: block;
    /*max-width: 100%;*/
    border: none;
}

footer .content{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    color: black;

}

.esp_row{
    justify-content: space-between;
}

.c_row{
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


/*mmmmmmmmmmmmmmenu*/
.mm{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color:var(--dark-color);
    overflow-y: hidden;
    transition: 0.2s;
}

.mm div{
    display:grid;

}
.mm div a{
    text-decoration: none;
    height: 70px;
    /*border-width: 100%;*/
    display:flex;
    align-items: center;
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mm div a:first-child{
    border-top: 1px solid rgb(223, 230, 233, .3);
    border-bottom: 1px solid rgb(223, 230, 233, .3);

}
.mm div a:not(:first-child){
    border-bottom: 1px solid rgb(223, 230, 233, .3);
}
.mm img{
    position: relative;
    width: 17%;
    top:10px;
    left:10px;
}
#close{
    position: absolute;
    right: 10px;
    top:10px;
    text-decoration: none;
}

.mm  li ,a{
    color:var(--light-color);
    cursor: pointer;
}



/*sliser*/
.sec2{
    position: relative;

    max-width: 100%;
    min-height: 130%;
    background-color: var(--dark-color);


}

.sec2 i{
    position: relative;
    top:180px;
    left:5%;
    font-size: 130px;
}
.Slide {
    position: absolute;
    height: max-content;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-items: center;
    animation-duration: 1s;
    transition-delay:1s;
    animation-fill-mode: both;
    animation-name: none;
    /*background-color: black;*/

}




.slideContainer {
    display:flex;
    max-width: 80%;
    padding-top: 7%;
    position: relative;
    margin: auto;

}

.Slide h6{
    color:var(--light-color);
    font-size: 20px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.Slide img{
    width: 35%;
}
#text1{
    color:var(--light-color);
    font-size:30px;
    font-style: italic;
    letter-spacing:1px ;
    font-weight:normal;
    font-family: 'Cambria';
    line-height:100%;
}

#text2{
    color:var(--light-color);
    font-size:30px;
    line-height:130%;
    letter-spacing:1px ;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
}

#resize{
    width: 10%;
    height: auto;

}
#resizel,#resizer{
    width: 4.5%;
    height: auto;

}
.prevBtn,
.nextBtn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    /*padding: 10px;*/
    /*background-color:var(--light-color);*/
    /*color: rgb(50, 0, 116);*/
    font-weight: bolder;
    font-size: 10px;
}

.nextBtn {
    right: 30px;
}
.prevBtn {
    left: 30px;
}
.Navdot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    background-color: var(--light-color);
    border-radius: 50%;
    border:1px solid var(--light-color);
    display: inline-block;
    transition: background-color 0.6s ease;
}
.selected,
.Navdot:hover {

    background-color: var(--dark-color);
}

.sec2 .dot{
    position: relative;
    margin-top: 30%;
}

.sec3{
    position: relative;;
    /* top:100%; */
    display:grid;
    margin-top: 20%;
    margin-bottom: 18%;
    justify-items: center;
}
.sec3 h1{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    text-align: center;
}


.sec3 a{

    text-decoration: none;
    border:1px solid var(--primary-color);
    border-radius: 10px;
    background-color:var(--primary-color) ;
    color:var(--light-color);
    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.sec3 a:hover{
    background-color:var(--dark-color) ;
    border-color: var(--dark-color);
}

/*nnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/



@media (min-width: 480px) and (max-width: 990px) {

    .navbar{
        display:none;
    }

    .navbar-a{
        display:block;
        font-size: 2px;
    }
    .home{
        top:150px;
        margin-bottom: 30%;
    }
    .home .home-content .text-1{
        font-size: 60px;
    }
    .home .btnn{
        font-size: 13px;
        width:33%;
    }

    .section-2{
        margin-top: 40%;
        /*top:150px;*/
        display: inline-block;
        margin-bottom: 100px;
    }
    .section-2 h2{
        font-size: 50px;
    }
    .section-2 .btn-section2{
        font-size: 15px;
        width:17%;
    }

}
@media (max-width: 900px){

    .navbar{
        display:none;
        visibility: hidden;
    }

    .navbar-a{
        display:none;
    }
    .navbar-b{
        display: block;
    }
    .logo .link a{
        font-size: 17px;
        text-decoration: none;
        color: var(--dark-color);
        /*font-weight: bold;*/
        letter-spacing: 0.02em;
        width: 40%;
        justify-content: space-between;
    }
    .link .btn{
        font-size: 16px;
    }
    .mm img{
        width: 30%;
    }
    .home .text-1{
        font-size: 40px;
    }
    .home{
        position: relative;

        margin-bottom: 40%;
    }

    .home a{
        width:50%;
        font-size:20px ;
    }

    .section-2{

        margin-bottom: 50%;
    }
    .section-2 .text-1{
        font-size: 30px;
    }
    .section-2 .btn-section2{
        font-size: 15px;
        width:40%;
        height:50px ;
    }

}
